<td>
  <div class="u__width__100"><!--SPACER--></div>
  <div class="layout__box o__has-columns">
    {{#each player.teams as |team|}}
      <img class="pool-table-flag" src="https://raw.githubusercontent.com/nolaneo/wc2018/master/public/assets/images/flags/{{dasherize team}}.png"/>
    {{/each}}
  </div>
</td>
<td>
  <b>{{player.name}}</b>
</td>
<td class="hide-small">
  {{player.games_played}}
</td>
<td>
  {{player.wins}}
</td>
<td>
  {{player.draws}}
</td>
<td>
  {{player.losses}}
</td>
<td class="hide-small">
  {{player.goals_for}}
</td>
<td class="hide-small">
  {{player.goals_against}}
</td>
<td>
  {{player.points}}
</td>
